@import '../../styles/variables.scss';

.dashboard_header {
  color: $cornflowerBlue;
  font-size: 2rem;
  font-weight: 400;
}

.card_container {
  display: flex;
  justify-content: space-between;
  gap: 1.2rem;
}
