@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Righteous&family=Roboto:wght@100;300;400;500;700;900&display=swap');

$workSans: 'Poppins', sans-serif;

// colors

$dark: #000;
$light: #fff;
$lightShadow: rgba(0, 0, 0, 0.04);
$cornflowerBlue: #213f7d;
$transparent: transparent;
$indep: #545f7d;
$eggBlue: #39cdcc;
$eggBlueShadow: rgba(57, 205, 204, 0.06);

// spacing

$spacing-md: 1.6rem;
$spacing-sm: 3.2rem;

//border-radius

$border-radius_sm: 0.5rem;
$border-radius_md: 0.8rem;
