@import '../../../styles/variables.scss';

.dashboard_wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.body_content {
  display: flex;

  .content {
    height: 60vh;
    flex: 1;
    padding: 4rem;
    overflow-y: auto;
  }
}
