@import '../../../styles/variables.scss';

.container {
  position: relative;

  input {
    height: 2.5rem;
    width: 100%;
    margin-top: 1rem;
    border-radius: $border-radius_sm;
    background-color: $transparent;
    outline: none;
    border: 2px solid rgba(84, 95, 125, 0.15);
    padding-left: 1rem;
  }

  .encrypt_toggle {
    position: absolute;
    top: 29px;
    right: 9px;
    color: $eggBlue;
    font-weight: 600;
    cursor: pointer;
  }
}
